{% extends "../layouts/default.twig" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<!-- <img src="/images/revel.png" width="160"> -->
			<h4>Welcome Max,</h4>
				<p>
					<div class="text-center"><a href="/startevents" class="btn btn-primary" style="width: 500px;background-color:#EF5A33">Begin creating your event</a></div>
				</p>
				<p><h5>Notifications</h5></p>
				</p>
				You were sent a quote <a href="messages">click here to view</a>
				<p></p>
				<hr/>
				<div id="services"></div>
				<div id="discover"></div>
		</div>
	</div>
{% endblock %}
